/* CSS */
body {
   margin: 0;
   padding: 0;
   font-size: 1.1em;
   background-color: #94d7e3;
}

h1 {
   font-family: Futura, Helvetica, Arial, 'sans-serif';
   margin-top: 0;
}



#wrapper {
   margin: 0 auto;
   padding: 10px 30px;
   width: 500px;
   background-color: white;
   height: 100%;
   border-left: 2px solid black;
   border-right: 2px solid black;
   
   position: relative;
}

#wrapper > h2{
   color: #c00;
   margin-top: 0.5em;
}
#wrapper img{
   border: 2px solid black;
   display: block;
}

#wrapper img:nth-of-type(1) {
   position: relative;
   left: 0px;
   right: 0px;
   z-index: 1;
}

#wrapper img:nth-of-type(2) {
   transform: rotate(8deg);
   position: absolute;
   left: 180px;
   top: 260px;
   z-index: 2;
}
#feature{
   background: yellow;
   margin: 25px -30px 0;
   padding: 15px 30px;
   padding-top: 20px;
}

#feature h2{
   color: #000;
   margin: 0 0 10px 0;
}

img {
   border: 2px solid black;
}

